.login__page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container__info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}

.login__container__details > h1 {
  font-size: 60px;
  font-weight: 500;
}

.login__container__details > p {
  font-size: 20px;
  padding: 20px 0;
}

.login__container__form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0;
  border-left: 1px solid #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
}

.login__input {
  width: 400px;
  padding: 15px 20px;
  background-color: #ededed;
  border: none;
  outline-width: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.login__input::placeholder {
  font-size: 16px;
}

.login__btn {
  width: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  outline-width: 0;
  font-size: 16px;
  cursor: pointer;
  transition: all .5s ease-out;
  font-weight: bold;
}

.login__btn:hover {
  background-color: #3d3d3d;
}