.jacket__page {
  width: 100%;
  display: flex;
}

.jacket__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  padding: 40px 0;
}

.jacket__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
  border: 1px solid #fff;
  border-radius: 10px;
}

.jacket__items:hover {
  border: 1px solid #ccc;
}

.jacket__items > img {
  padding-top: 20px;
  width: 80%;
}

@media screen and (max-width: 500px) {
  .jacket__items {
    width: 100%;
  }

  .jacket__container {
    padding: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}