.exchange {
  background-color: #fff;
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.exchange__container {
  max-width: 1000px;
  justify-content: center;
  padding: 0 150px;
  line-height: 1.6;
}

.exchange__container > h1 {
  color: #000;
  text-align: center;
  padding-bottom: 30px;
}

.exchange__container > h4 {
  padding-bottom: 15px;
}

.exchange__container > p {
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {

  .exchange__container {
    width: 100%;
    padding: 0;
  }

  .exchange__container > h1 {
    padding-bottom: 20px;
  }

  .exchange__container > h4, p {
    padding: 5px 20px;
  }
}